*{
  margin: 0;
  padding: 0;
  font-family: 'Markazi';
}
.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 120px 420px 905px 500px 474px 474px;
}
/* NAV STYILING */
nav{
  grid-column: 2 / 12;
}

.List,
a{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  height: 120px;
  color: black;
}
.Logo-container{
  height: inherit;
}
.Logo{
  height: 100px;
}

/* HEADER STYILING */

header{
  background-color: #495E57;
  grid-row: 2;
  grid-column: 1/13;
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 420px;
}
.text{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h1{
  color: #F4CE14;
  font-size: 64px;
}

h3{
  color: white;
  font-weight: 100;
  font-size: 40px;
}

p{
  color: white;
  font-size: 18px;
}

.head-container{
  height: inherit;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head{
 max-width: 80%;
 max-height: 80%;
}


.reserve{
  background-color: #F4CE14;
  border: none;
  color: black;
  border-radius: 16px;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
}

.reserve:hover{
  cursor: pointer;
}

/* MAIN */

.highlights{
  grid-row: 3;
  grid-column: 3/11;
  height: 905px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title{
  display: flex;
  font-size: 40px;
  font-weight: 500;
  justify-content: space-between;
}

.cards{
  display: flex;
  justify-content: space-between;
}

.Greek-Salad{
  max-height: 533px;
  max-width: 240px;
  background-color: #D9D9D9;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Lemon-Dessert{
  max-height: 533px;
  max-width: 240px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.Bruchetta{
  max-height: 533px;
  max-width: 240px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delivery{
  margin-bottom: 5vh;
}

.dish{
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 1vw;
}

aside{
  margin-bottom: 15vh;
  margin-left: 1vw;
}

